---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <gihub_api_token_c>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1594302430'
      Etag:
      - W/"f0bc6188ddd9b9c83a17da9c54a94517"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225504410,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU1MDQ0MTA=","name":"battleship","full_name":"cgaddis36/battleship","private":false,"owner":{"login":"cgaddis36","id":53872078,"node_id":"MDQ6VXNlcjUzODcyMDc4","avatar_url":"https://avatars0.githubusercontent.com/u/53872078?v=4","gravatar_id":"","url":"https://api.github.com/users/cgaddis36","html_url":"https://github.com/cgaddis36","followers_url":"https://api.github.com/users/cgaddis36/followers","following_url":"https://api.github.com/users/cgaddis36/following{/other_user}","gists_url":"https://api.github.com/users/cgaddis36/gists{/gist_id}","starred_url":"https://api.github.com/users/cgaddis36/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cgaddis36/subscriptions","organizations_url":"https://api.github.com/users/cgaddis36/orgs","repos_url":"https://api.github.com/users/cgaddis36/repos","events_url":"https://api.github.com/users/cgaddis36/events{/privacy}","received_events_url":"https://api.github.com/users/cgaddis36/received_events","type":"User","site_admin":false},"html_url":"https://github.com/cgaddis36/battleship","description":"Battleship
        Project Mod1","fork":false,"url":"https://api.github.com/repos/cgaddis36/battleship","forks_url":"https://api.github.com/repos/cgaddis36/battleship/forks","keys_url":"https://api.github.com/repos/cgaddis36/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cgaddis36/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cgaddis36/battleship/teams","hooks_url":"https://api.github.com/repos/cgaddis36/battleship/hooks","issue_events_url":"https://api.github.com/repos/cgaddis36/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/cgaddis36/battleship/events","assignees_url":"https://api.github.com/repos/cgaddis36/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/cgaddis36/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/cgaddis36/battleship/tags","blobs_url":"https://api.github.com/repos/cgaddis36/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cgaddis36/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cgaddis36/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/cgaddis36/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cgaddis36/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/cgaddis36/battleship/languages","stargazers_url":"https://api.github.com/repos/cgaddis36/battleship/stargazers","contributors_url":"https://api.github.com/repos/cgaddis36/battleship/contributors","subscribers_url":"https://api.github.com/repos/cgaddis36/battleship/subscribers","subscription_url":"https://api.github.com/repos/cgaddis36/battleship/subscription","commits_url":"https://api.github.com/repos/cgaddis36/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/cgaddis36/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/cgaddis36/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/cgaddis36/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/cgaddis36/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/cgaddis36/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cgaddis36/battleship/merges","archive_url":"https://api.github.com/repos/cgaddis36/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cgaddis36/battleship/downloads","issues_url":"https://api.github.com/repos/cgaddis36/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/cgaddis36/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/cgaddis36/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/cgaddis36/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cgaddis36/battleship/labels{/name}","releases_url":"https://api.github.com/repos/cgaddis36/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/cgaddis36/battleship/deployments","created_at":"2019-12-03T01:35:41Z","updated_at":"2019-12-12T04:50:22Z","pushed_at":"2019-12-12T04:50:20Z","git_url":"git://github.com/cgaddis36/battleship.git","ssh_url":"git@github.com:cgaddis36/battleship.git","clone_url":"https://github.com/cgaddis36/battleship.git","svn_url":"https://github.com/cgaddis36/battleship","homepage":null,"size":95,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":263454407,"node_id":"MDEwOlJlcG9zaXRvcnkyNjM0NTQ0MDc=","name":"beach_loot","full_name":"cgaddis36/beach_loot","private":true,"owner":{"login":"cgaddis36","id":53872078,"node_id":"MDQ6VXNlcjUzODcyMDc4","avatar_url":"https://avatars0.githubusercontent.com/u/53872078?v=4","gravatar_id":"","url":"https://api.github.com/users/cgaddis36","html_url":"https://github.com/cgaddis36","followers_url":"https://api.github.com/users/cgaddis36/followers","following_url":"https://api.github.com/user[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <gihub_api_token_c>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1594302431'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <gihub_api_token_c>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4930'
      X-Ratelimit-Reset:
      - '1594302430'
      Etag:
    [...]
