<h2>Import Youtube Playlist</h2>
<%= form_for [:admin, @tutorial], url: '/admin/playlist', method: :post do |f| %>
  <%= f.label :playlist_id %>
  <%= f.text_field :playlist_id, class: "block col-4 field" %>
  <%= f.submit "Submit", class: "mt2 btn btn-primary mb1 bg-teal" %>
<% end %>
