---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <gihub_api_token_c>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1594302431'
      Etag:
      - W/"e44917d74fdc81375274b95f3f2b1cfb"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"iandouglas","id":168030,"node_id":"MDQ6VXNlcjE2ODAzMA==","avatar_url":"https://avatars0.githubusercontent.com/u/168030?v=4","gravatar_id":"","url":"https://api.github.com/users/iandouglas","html_url":"https://github.com/iandouglas","followers_url":"https://api.github.com/users/iandouglas/followers","following_url":"https://api.github.com/users/iandouglas/following{/other_user}","gists_url":"https://api.github.com/users/iandouglas/gists{/gist_id}","starred_url":"https://api.github.com/users/iandouglas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iandouglas/subscriptions","organizations_url":"https://api.github.com/users/iandouglas/orgs","repos_url":"https://api.github.com/users/iandouglas/repos","events_url":"https://api.github.com/users/iandouglas/events{/privacy}","received_events_url":"https://api.github.com/users/iandouglas/received_events","type":"User","site_admin":false},{"login":"KellyIB","id":15639049,"node_id":"MDQ6VXNlcjE1NjM5MDQ5","avatar_url":"https://avatars3.githubusercontent.com/u/15639049?v=4","gravatar_id":"","url":"https://api.github.com/users/KellyIB","html_url":"https://github.com/KellyIB","followers_url":"https://api.github.com/users/KellyIB/followers","following_url":"https://api.github.com/users/KellyIB/following{/other_user}","gists_url":"https://api.github.com/users/KellyIB/gists{/gist_id}","starred_url":"https://api.github.com/users/Ke[...]
