---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <gihub_api_token_c>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1594302430'
      Etag:
      - W/"a9eea341f8374cfc6b82d1559d3bf2b8"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"KellyIB","id":15639049,"node_id":"MDQ6VXNlcjE1NjM5MDQ5","avatar_url":"https://avatars3.githubusercontent.com/u/15639049?v=4","gravatar_id":"","url":"https://api.github.com/users/KellyIB","html_url":"https://github.com/KellyIB","followers_url":"https://api.github.com/users/KellyIB/followers","following_url":"https://api.github.com/users/KellyIB/following{/other_user}","gists_url":"https://api.github.com/users/KellyIB/gists{/gist_id}","starred_url":"https://api.github.com/users/KellyIB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/KellyIB/subscriptions","organizations_url":"https://api.github.com/users/KellyIB/orgs","repos_url":"https://api.github.com/users/KellyIB/repos","events_url":"https://api.github.com/users/KellyIB/events{/privacy}","received_events_url":"https://api.github.com/users/KellyIB/received_events","type":"User","site_admin":false},{"login":"meghanstovall","id":42551404,"node_id":"MDQ6VXNlcjQyNTUxNDA0","avatar_url":"https://avatars0.githubusercontent.com/u/42551404?v=4","gravatar_id":"","url":"https://api.github.com/users/meghanstovall","html_url":"https://github.com/meghanstovall","followers_url":"https://api.github.com/users/meghanstovall/followers","following_url":"https://api.github.com/users/meghanstovall/following{/other_user}","gists_url":"https://api.github.com/users/meghanstovall/gists{/gist_id}","starred_u[...]
